!!! 5
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
head
  include includes/head
  script(type="text/javascript",src="/js/handlebars.js")
  script(type="text/javascript",src="/js/minispade.js")
  script(type="text/javascript",src="/js/app.js")

body

  :coffeescript
    minispade.require "app"

</html>